.container,
.main-pane,
.description-pane {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.h-full {
  height: 100vh;
}

.logo,
.aerial {
  width: 350px;
}

.description {
  text-align: center;
}

.bylaws {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .icon,
  .aerial {
    width: 500px;
  }

  .main-pane {
    flex-direction: row;
  }

  .description {
    padding-top: 0;
  }

  .container {
    gap: 75px;
  }

  .main-pane {
    gap: 0;
  }

  .description-pane {
    width: 575px;
  }
}
